@import "~antd/dist/reset.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Nunito", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-size: 16px !important;
  line-height: 1.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.site-tree-search-value {
  color: #f50;
}

/* green scheme */
.react-calendar-heatmap .color-green-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-green-2 {
  fill: #99d18f;
}
.react-calendar-heatmap .color-green-3 {
  fill: #7bc86c;
}
.react-calendar-heatmap .color-green-4 {
  fill: #61bd4f;
}
.react-calendar-heatmap .color-green-5 {
  fill: #5aac44;
}
.react-calendar-heatmap .color-green-6 {
  fill: #49852e;
}
.react-calendar-heatmap .color-green-7 {
  fill: #3f6f21;
}

.react-calendar-heatmap .color-today {
  stroke-width: 2;
  stroke: blue;
}

@media (max-width: 600px) {
  .non-mobile {
    display: none;
  }
}

/* Temporarily disable it as it impacts all popover
.ant-popover .ant-popover-inner {
  padding: 0;
} */
